<form [formGroup]="userProfileForm" class="container" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">Name: </label>
        <input type="text" formControlName="name" id="name" class="form-control" placeholder="eg: Juan S. Dela Cruz">
        
        <div *ngIf="name?.invalid && name?.dirty">
            <div *ngIf="name?.errors?.['required']" class="alert alert-danger">
                Name is required
            </div>
            <div *ngIf="name?.errors?.['hasNumbers']" class="alert alert-danger">
                Name should not contain numbers
              </div>
        </div>
    </div>

    <div class="form-group">
        <label for="email">Email Address: </label>
        <input type="text" formControlName="email" id="email" class="form-control" placeholder="Enter email address">

        <div *ngIf="email?.invalid && email?.dirty">
            <div *ngIf="email?.errors?.['required']" class="alert alert-danger">
               Email Address is required
            </div>
            <div *ngIf="email?.errors?.['invalidEmail']" class="alert alert-danger">
                Email Address is invalid
             </div>
        </div>
    </div>
    <div class="form-group">
        <label for="bio">Bio: </label>
        <input type="text" formControlName="bio" id="bio" class="form-control" placeholder="Write something about yourself">
    </div>
    <br/>


    <br/>
    <button type="submit" class="btn btn-success" (click)="addUser()">Save User</button>
    <button type="button" class="btn btn-danger" (click)="clear()">Clear Form</button>
    <!-- <button type="button" class="btn btn-info" (click)="seeList()">See Profile List</button> -->
</form>

<!-- Profile List -->
<!-- <div *ngIf="showProfileList">
    <h2>Profile List</h2>
    <ul>
        <li *ngFor="let profile of profiles">
            <strong>Name:</strong> {{ profile.name }} <br>
            <strong>Email:</strong> {{ profile.email }} <br>
            <strong>Bio:</strong> {{ profile.bio }}
        </li>
    </ul>
</div> -->