<form [formGroup]="bookForm" class="container" (ngSubmit)="onSubmit()">
    <input type="hidden" formControlName="id"> 
    <div class="form-group">
        <label for="title">Title: </label>
        <input type="text" formControlName="title" id="ttile" class="form-control">
        
        <div *ngIf="title?.invalid && title?.dirty">
            <div *ngIf="title?.errors?.['required']" class="alert alert-danger">
                Title is required
            </div>
            
        </div>
    </div>
    <div class="form-group">
        <label for="description">Author: </label>
        <input type="text" formControlName="author" id="description" class="form-control">
        <div *ngIf="title?.invalid && title?.dirty">
        <div *ngIf="author?.errors?.['hasNumbers']" class="alert alert-danger">
                Author should not contain numbers
              </div>
            </div>
    </div>
    <div class="form-group">
        <label for="description">ISBN: </label>
        <input type="text" formControlName="isbn" id="isbn" class="form-control">
    </div>
    <br/>

    <button type="submit" class="btn btn-success">Save</button>
    <button type="button" class="btn btn-danger" (click)="clear()">Clear</button>
</form>